header {
  margin-top: 20px;
}


h1 {
  color: #0086BE;
}

a {
  color: #0086BE;
}

a h1.head {
  line-height: 0.8;
}

a:hover {
  text-decoration: none;
  color: #080808
}

h1.head > small {
  font-weight: 300;
}

.navbar-toggle .icon-bar {
  background-color: #0086BE;
}

.nav > li > a {
    color: #080808;
    font-size: 12pt;
    font-weight: 500;
}

.navbar-toggle {
  float: left;
  border-color: #ddd;
}

.navbar-collapse {
  padding: 0px;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: transparent;
    color: #0086BE
}

p {
  font-size: 12pt;
}

@media (min-width: 768px) {
  .container.bar {
    padding-left: 0px;
  }
}
