<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>About Aaron Albright</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap" rel="stylesheet">
    <link
      href="https://fonts.googleapis.com/css?family=Comfortaa:400,700|Montserrat:400,600,700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v2.0.1/css/unicons.css"
    />
    <link rel="stylesheet" href="../scss/main.scss" />
  </head>
  <body>
    <header>
      <div class="header__name">
        <h1 class="name__head">Aaron Albright</h1>
        <p class="name__subtitle">
          News development <span>+</span> Interaction design <span>+</span> Data visualization
        </p>
      </div>
      <div class="header__links">
        <a class="link" href="https://twitter.com/tallbrighty" target="_blank"
          ><i class="uil uil-twitter"></i> @tallbrighty</a
        >
        <a class="link" href="https://github.com/aaronalbright" target="_blank"
          ><i class="uil uil-github"></i> Github</a
        >
        <a
          class="link"
          href="../assets/Aaron-Albright-Resume.pdf"
          target="_blank"
          ><i class="uil uil-briefcase"></i> Resume</a
        >
        <a
          class="link"
          href="mailto:albright@hey.com"
          target="_blank"
          ><i class="uil uil-envelope"></i> albright@hey.com</a
        >
      </div>
    </header>
    <main>
      <div class="intro">
        <p>
          I'm a Senior Experience Designer based in Miami, Florida.
          I specialize in web application development, data visualization and
          interactive storytelling at McClatchy and its newsrooms around the country.
        </p>
        
      </div>
      <div class="skills">
        <h3 class="subhead">Design + development skills</h3>
        <p>
          (in no particular order)
        </p>
        <ul class="skills__box">
          <li>Node</li>
          <li>React</li>
          <li>ES6+</li>
          <li>Webpack</li>
          <li>D3.js</li>
          <li>Sass</li>
          <li>Python</li>
          <li>Golang</li>
          <li>Sketch app</li>
          <li>Adobe Iillustrator</li>
          <li>QGIS</li>
          <li>SQL</li>
        </ul>
      </div>
      <div class="projects">
        <h2 class="subhead">Projects</h2>
        <div class="projects__grid flex">
          {% for each in dataViz %}
          <div class="flex__card">
            <h4 class="card__title">
              <a href="{{ each.url }}" target="_blank" rel="noopener noreferrer"
                >{{ each.headline }}&nbsp;<i class="uil uil-link-h"></i
              ></a>
              {% if each.note %}
              <span>{{ each.note }}</span>
              {% endif %}
            </h4>

            <div class="card__with">Built with</div>
            <div class="card__tech">
              {% for t in each.tech%}
              <div class="tech__item">{{ t }}</div>
              {% endfor %}
            </div>
            {% if each.highlight %}
            <a href="{{ each.highlight[0].url }}" class="card__highlight"
              >{{ each.highlight[0].title }}
              <i class="uil uil-external-link-alt"></i>
            </a>
            {% endif %}
          </div>
          {% endfor %}
        </div>
      </div>
    </main>
    <!-- <script src="../js/main.js"></script> -->
  </body>
</html>
