@import 'base/noramlize';

body {
  max-width: 1000px;
  margin: 3em auto 3em;
  font-family: 'Montserrat', sans-serif;
  background: #fffffe;
  padding: 0 0.76rem;
}

h1,
h2 {
  font-family: 'Comfortaa', cursive;
  color: #094067;
}

h2 {
  font-weight: 400;
  margin-bottom: 0.5em;
}

h3 {
  color: #222;
}

p {
  color: #5f6c7b;
}

p,
a {
  font-family: 'Montserrat', sans-serif;
}

.intro p {
  font-size: 1.2rem;
  line-height: 1.4;
  max-width: 720px;
}

.intro li {
  font-size: 1.2rem;
}

.intro ul {
  color: #094067;
  padding: 15px 30px 15px 50px;
  display: inline-block;
  margin: 0;
  background-color: #d8eefe;
  border-radius: 5px;
  border: 3.5px solid #094067;
}

.header__links {
  display: flex;
  flex-wrap: wrap;
}

.link {
  text-decoration: none;
  color: #fffffe;
  background-color: #094067;
  border-radius: 2px;
  padding: 5px 15px;
  margin-right: 1em;
  transition: box-shadow 150ms;
  margin-bottom: 0.5rem;
  &:hover {
    box-shadow: 0 1px 5px 0 rgba($color: #000000, $alpha: 0.5);
    color: #ef4565;
  }
  .uil:before {
    margin-left: 0;
  }
}

.name__head {
  font-size: 3em;
  margin-bottom: 0;
}

.name__subtitle {
  color: #ef4565;
  font-size: 1.5em;
  margin: 0.5em 0;
}

.subhead {
  font-size: 2rem;
}

.projects__grid {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: flex-start;
}

@media (min-width: 768px) {
  .projects__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.flex__card {
  background-color: #094067;
  color: #d8eefe;
  padding: 30px;
  border-radius: 2px;
  p {
    color: #d8eefe;
  }
  h4 {
    margin: 0 0 3rem 0;
    line-height: 1.3;
    font-size: 1.2rem;
  }
  h4 a {
    color: #fffffe;
    font-weight: 600;
    text-decoration: none;
    &:hover {
      color: #ef4565;
      text-decoration: underline;
    }
  }
  .card__highlight {
    margin-top: 1em;
    display: inline-block;
    color: #ef4565;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  .card__with {
    margin-bottom: 0.5rem;
  }
  .card__tech {
    display: flex;
    flex-wrap: wrap;
    > * {
      margin-right: 0.5rem;
      margin-bottom: 0.5rem;
      background-color: #3da9fc;
      color: #fffffe;
      border-radius: 1px;
      padding: 6px 15px;
    }
  }
}
